@import "../../../styles/variables";
@import "../../../styles/mixins";

.follow-list {
  .toggle-show-in-public {
    width: 100%;
    color: $white;
    margin: 8px 0 16px;

    .pp-menu-item {
      margin-bottom: 8px;
      font-size: 14px;
    }
  }

  margin: 38px 0 0 !important;

  @include breakpoint-min($md) {
    margin: 40px 0 0 !important;
    .follower-item:nth-child(3n + 3) {
      margin-right: 1%;
    }
  }

  .profile-watch-list {
  }

  .title {
    margin-bottom: 20px;
    margin-left: 35px;

    @include breakpoint-min($md) {
      margin-left: 53px;
    }

    @include breakpoint-min($lg) {
      margin-left: 63px;
      font-size: 25px;
    }
  }

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
  }
}
