//colors
$white: #ffffff;
$disabled: #525252;
$grayLight: #a6a6a6;
$gray: #9b9b9b;
$lightBlack: #151515;
$black: #000000;
$orangeBright: #d9841f;
$orange: #d69942;
$orangeDark: #ad7a37;
$red: #ff0020;

//sizes
$xl: 1600px;
$lg: 1280px;
$ipad: 1024px;
$md: 960px;
$sm: 767px;
$customSm: 560px;
$xs: 480px;
$iphone: 411px;
$iphone6: 375px;

$modalContentMinWidth: 320px;
$cropperHeight: 400px;
$cropperWidth: 320px;
$maxListWidth: 1600px;

$listItemHeight: 285px;
$listItemWidth: 200px;
$listItemMargin: 50px;

$modalWidth: 1000px;
