@import '../../../styles/variables';

.price-description {
  margin-top: 8px;
  min-width: 72px;

  .watch-item-price {
    display: inline-block;
    color: $orange;
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    transition: 0.2s;
    width: auto;
    position: relative;
    padding: 4px 4px 4px 0;

    .smallPrice {
      float: right;
      font-size: 0.6em;
      padding-left: 2.5px;
    }
  }
  .description-title {
    font-size: 95%;
    position: relative;
    width: 100%;
    margin-top: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: -7px;
    padding: 4px 4px 4px 0;

    &:after {
      content: "";
      width: 30px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $white;
    }
  }

  .description {
    position: relative;
    color: $white;
    font-size: 80%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding: 4px 4px 4px 0;
    margin-top: 8px;
    overflow: hidden;
    text-align: justify;
    line-height: 1.7em;
    max-height: 53px;

    //&::before {
    //  position: absolute;
    //  content: '...';
    //  bottom: 0;
    //  right: 0;
    //}
    //&::after {
    //  position: absolute;
    //  content: '';
    //  right: 0;
    //  width: 1rem;
    //  height: 20px;
    //  background: #1c1c1c;
    //  margin-top: 0.2em;
    //}

    &.description-large {
      margin-top: 21px;
    }
  }

  &.collection-watch-item {
    .watch-item-price, .description {
      background-color: rgba(55, 55, 55, .7) !important;
      padding: 4px;
    }
  }
}

